

<html>
<header class="menu">
  <div class="logo">
    <h1>
      <img class="logo" src="assets/logoAnime.png" alt="Logo da aplicação">
      &nbsp; <span class="title">Recommends</span> &nbsp;
      <img class="logo" src="assets/logoAnime.png" alt="Logo da aplicação">
    </h1>
  </div>

  <ul type="none" class="lista-menu">
    <li><a routerLink="">Sobre nós</a></li>
    <li><a routerLink="animes">Recomendações</a></li>
    <li><a routerLink="informacoes">Informações</a></li>
  </ul>
</header>

<br>
<div class="body">
  <app-body-global></app-body-global>
</div>

<footer class="footer" style="text-align: center;">
  <p> Recommends &copy;</p>
</footer>

</html>
